<div class="container-fluid text-center">
  <div class="container text-center">
    <h3>Editar Producto</h3>
  </div>
  <form [formGroup]="formEdit" (ngSubmit)="editar()">
    <div class="container text-center">
      <div class="form-floating mb-3">
        <div class="m-1">
          <input
            type="text"
            class="form-control"
            name="nombre"
            formControlName="nombre"
            id="nombre"
            placeholder="NOMBRE"
          />
        </div>
        <div class="m-1">
          <input
            type="text"
            class="form-control"
            name="descripcion"
            formControlName="descripcion"
            id="descripcion"
            placeholder="DESCRIPCION"
          />
        </div>
        <div class="m-1">
          <input
            type="number"
            class="form-control"
            name="precio"
            formControlName="precio"
            id="precio"
            placeholder="PRECIO"
          />
        </div>
        <div class="m-1">
          <input
            type="number"
            class="form-control"
            name="stock"
            formControlName="stock"
            id="stock"
            placeholder="STOCK"
          />
        </div>
      </div>
      <div>
        <button type="submit" class="btn btn-primary m-1">
          Guardar cambios
        </button>
      </div>
      <div>
        <button class="btn btn-primary m-1" routerLink="/home">
          Cancelar
        </button>
      </div>
    </div>
  </form>
</div>
