div{
   h1{
    font-size: 48px;
    margin-top: 4px;
    margin-bottom: 4px;
    font-family: 'Lobster', cursive;
    font-style: italic;
   }
   h2{
    font-size: 30px;
    
   }
    background: pink;
    display: flex;
    justify-content: center;
    text-align: center;
    
    .form-floating{
        margin: 8px 0;

    }
    .btn{
        margin:12px 0;
        color:black;
        background-color: coral;
    }
}
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap')