<div>
  <form #form="ngForm" (ngSubmit)="login(form)" class="col-md-6 col-xs-12">
    <h1>Coqueta Indumentaria</h1>
    <h2 class="h3 mb-3 fw-normal">Ingrese sus credenciales</h2>

    <div class="form-floating">
      <input
        type="email"
        name="user"
        class="form-control"
        id="floatingInput"
        placeholder="name@example.com"
        ngModel
      />
      <label for="floatingInput">Usuario</label>
    </div>
    <div class="form-floating">
      <input
        type="password"
        name="password"
        class="form-control"
        id="floatingPassword"
        placeholder="Password"
        ngModel
      />
      <label for="floatingPassword">Contraseña</label>
    </div>

    <button class="w-100 btn btn-lg btn-secondary" type="submit">
      Ingresar al Dashboard
    </button>
     <img src="assets/images/silueta.jpg" alt="..." width="350px" height="350px">
  </form>
 <app-footer></app-footer>
</div>
