<div class="container-fluid text-center">
    <div class="container text-center"><h3>Catálogo</h3></div>
    <table class="table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let producto of Productos; let idControl=index">
            <td>{{producto.nombre}}</td>
            <td>{{producto.descripcion}}</td>
            <td>${{producto.precio}}</td>
            <td>{{producto.stock}}</td>
            <td> 
                <button routerLink='/edit/{{producto.id}}' routerLinkActive="router-link-active"  class="btn m-1">Editar</button>
                <button class="btn m-1" (click)="borrar(producto.id,idControl)">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
</div>

